
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
body{
    background-color: #e3f2fd;
}

.select-menu{
    width: 380px;
    margin: 150px auto;
}

.select-menu .select-btn{
    display: flex;
    height: 55px;
    background-color: #fff;
    padding: 20px;
    font-size: 18px;
    font-weight: 800;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.select-btn i{
    font-size: 25px;
}

.select-menu.active .select-btn i{
    transform: rotate(-180deg);
    transition: 0.5s;
}

.select-menu .options{
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: #fff;
    box-sizing: 0 0 3px rgba(0,0,0,0.3);
    display: none;
}

.select-menu.active .options{
    display: block;
}

.options .option{
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background-color: #fff;
}

.options .option:hover{
    background-color: #f2f2f2;
}

.option i{
    font-size: 25px;
    margin-right: 12px;
}

.option .option-text{
    font-size: 18px;
    color: #333;
}