
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body{
    background-color: aqua;
    display: flex;
    justify-content: center;
}

.card{
    height: 250px;
    width: 250px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow:  0 0 5px rgba(0,0,0,0.6);
    margin: 10px;
    font-size: 40px;
}

.scrollbar{
    background-color: brown;
    position: fixed;
    height: 40px;
    top: 0;
    left: 0;
}